.cbxuseronline_memberlist{

}
.cbxuseronline_memberlist_shortcode{

}

.cbxuseronline_memberlist_widget{

}

.cbxuseronline{

}
.cbxuseronline_shortcode{
    padding: 10px;
}

.cbxuseronline_widget{
    padding: 10px;
}
.cbxuseronline_desktop{
    width: 16px; height: 16px; background: url('../images/desktop-icon.png') left top no-repeat;
    display: inline-block;
    margin-left: 5px;
}
.cbxuseronline_mobile{
    width: 16px; height: 16px; background: url('../images/mobile-icon.png') left top no-repeat;
    display: inline-block;
    margin-left: 5px;
}

